@import './navigation';

blockquote {
    margin-inline-start: 0;
    padding-inline-start: 1em;
}

code {
    background-color: #111111;
}

div.highlighter-rouge {
    background-color: #111111;
}

a code {
    color: lighten($link-color, 20%);
}

code {
    color: coral;
    display: inline-block;
    padding: 4px;
}

img {
    max-width: 400px;
}
